@model IEnumerable<RabbitMQ.Excel.Create.Models.UserFile>

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Files</h1>

<p>
    <a class="btn btn-success" asp-controller="Product" asp-action="CreateProductExcel">Excel Oluştur</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>

            <th>
                FileName
            </th>

            <th>
                CreatedDate
            </th>
            <th>
                FileStatus
            </th>
            <th>İndir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FileName
                </td>
                <td>
                    @item.GetCreatedDate
                </td>
                <td>
                    @item.FileStatus
                </td>

                <td>
                    <a href="~/files/@item.FilePath" class="btn btn-primary @(item.FileStatus==FileStatus.Creating ? "disabled":"" )" >İndir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
